.btn {
    display: inline-block;
    width: 168px;
    height: 55px;
    border-radius: 5px;
    background: #8F00FF;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    padding: 18px 40px;
    transition: .9s;
}

.btn:hover {
    background: #741BBA;
    transition: .9s;
}


.btn__see {
    display: flex;
    justify-content: left;
    margin-top: auto;
    width: 135px;
    height: 55px;
    border-radius: 5px;
    background: #8F00FF;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    padding: 18px 30px;
    transition: .9s;
}

.btn__see:hover {
    background: #741BBA;
    color: #fff;
    transition: .9s;
}

.btn__see--active {
    background: #fff;
    color: #8F00FF;
    border: 1px solid #8F00FF;
}

.btn--border {
    border: 1px solid #fff;
}

.btn--color--white {
    border: 1px solid #8F00FF;
    color: #8F00FF;
    background: #fff;
}

.btn--color--violet {
    background: #8F00FF;
}

.btn--color--violet:hover {
    background: #741BBA;
}

.btn--color--grey {
    background: #8E8E8E;
}

.btn--color--grey:hover {
    background: #2B2B2B;
}

.form__btn {
    margin-right: 17px;
}

.form__btn:last-child {
    margin-right: 0;
}

.form__btns {
    display: flex;
    justify-content: flex-end;
}

.btn--welcome {
    padding: 18px 58px;
}